.popup__button-save {
    color:#FFFFFF;
    background:#000000;
    width: 358px;
    height: 50px;
    margin: 18.34px auto 0 auto;
    border-radius: 2px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup__button-save:disabled {
    opacity: 0.2;
    background: none;
    border: #000000 solid 1px;
    color: #000000;
}

.popup__button-save:hover {
    opacity: 0.8;
}

.popup__button-save:disabled:hover {
    opacity: 0.2;
}

@media (max-width: 767px) {
    .popup__button-save {
        width: 238px;
        height: 46px;
        font-size: 14px;
        line-height: 16.94px;
        margin-top: 5px;
    }
}