.profile-header__user {
    display: flex;
    align-items: center;
    line-height: 0;
}

@media (max-width: 767px) {
    .profile-header__user {
        display: flex;
        flex-direction: column;
        max-width: 282px;
    }
}