.profile-header__user-name {
    font-weight: 500;
    font-size: 42px;
    line-height: 49px;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (max-width: 1279px) {
    .profile-header__user-name {
        font-size: calc((100vw*42)/1280);
        line-height: calc((100vw*49)/1280);
    }
}

@media (max-width: 767px) {
    .profile-header__user-name {
        font-size: 27px;
        line-height: 32.68px;
    }
}