.popup__button-close {
    position: absolute;
    right: -40px;
    top: -40px;
}

@media (max-width: 767px) {
    .popup__button-close {
        width: 20px;
        height: 20px;
        right: 0;
        top: -36px;
    }
}