@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

@import url(../blocks/root/root.css);
@import url(../blocks/page/page.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__background/popup__background.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/button/button.css);
@import url(../blocks/popup/__button-close/popup__button-close.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__input-container/popup__input-container.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__button-save/popup__button-save.css);

@import url(../blocks/header/header.css);
@import url(../blocks/content/content.css);
@import url(../blocks/content/_wide/content_wide_mobile.css);
@import url(../blocks/logo/logo.css);

@import url(../blocks/profile-header/profile-header.css);
@import url(../blocks/profile-header/__user/profile-header__user.css);
@import url(../blocks/profile-header/__user-avatar/profile-header__user-avatar.css);
@import url(../blocks/profile-header/__user-name/profile-header__user-name.css);
@import url(../blocks/profile-header/__user-info/profile-header__user-info.css);
@import url(../blocks/profile-header/__edit-button/profile-header__edit-button.css);
@import url(../blocks/profile-header/__user-description/profile-header__user-description.css);
@import url(../blocks/profile-header/__add-button/profile-header__add-button.css);
@import url(../blocks/profile-header/__add-button-plus/profile-header__add-button-plus.css);

@import url(../blocks/gallery/gallery.css);
@import url(../blocks/gallery/__item/gallery__item.css);
@import url(../blocks/gallery/__photo/gallery__photo.css);
@import url(../blocks/gallery/__caption-row/gallery__caption-row.css);
@import url(../blocks/gallery/__caption/gallery__caption.css);
@import url(../blocks/gallery/__like-button/gellary__like-button.css);
@import url(../blocks/gallery/__like-button/_active/gellary__like-button_active.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__autor/footer__autor.css);