.popup__container_open-photo {
    display: flex;
    flex-direction: column;
    left: 50%;
    top: 11%;
    padding: 0;
    max-width: 75vw;
    min-height: 400px;
    background: none;
    border-radius: 0;
    color:#FFFFFF;
}

@media (max-width: 767px) {
    .popup__container_open-photo {
        min-height: 120px;
        top: 16%;
    }
}