.popup__title {
    font-weight: 900;
    font-size: 24px;
    line-height: 29.05px;
    margin: 34px 0 0 36px;
}

@media (max-width: 767px) {
    .popup__title {
        font-size: 18px;
        line-height: 21.78px;
        margin-top: 25px;
        margin-bottom: 22px
    }
}